<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Última modificação</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><span class="glyphicon glyphicon-user"></span></td>
        <td>{{user.firstName}}&nbsp;{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.modified}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary" (click)="showUserDialog(user)" title="Ver detalhes"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-danger" (click)="showDeleteDialog(user)" title="Excluir"><span class="glyphicon glyphicon-trash"></span></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p-dialog [(visible)]="userDetailsDialog">        
        <p-header>
            <span class="glyphicon glyphicon-user"></span><span>&nbsp;&nbsp;Detalhes do usuário:</span>
        </p-header>
        <div style="float: right;"><span>Nome:&nbsp;&nbsp;</span><input type="text" pInputText [(ngModel)]="firstName" style="width: 301px; margin-top: 5px;"/></div><br>
        <div style="float: right;"><span>Sobrenome:&nbsp;&nbsp;</span><input type="text" pInputText [(ngModel)]="lastName" style="width: 301px; margin-top: 5px;"/></div><br>
        <div style="float: right;"><span>E-mail:&nbsp;&nbsp;</span><input type="text" pInputText [(ngModel)]="email" style="width: 301px; margin-top: 5px;"/></div><br>
        <div style="float: right;"><span>Senha:&nbsp;&nbsp;</span><input type="text" pInputText [(ngModel)]="password" style="width: 301px; margin-top: 5px;"/></div><br>
        <div style="float: right;"><span>Criado em:&nbsp;&nbsp;</span><input type="text" pInputText [(ngModel)]="created" style="width: 301px; margin-top: 5px;"/></div><br>
        <div style="float: right;"><span>Última modificação:&nbsp;&nbsp;</span><input type="text" pInputText [(ngModel)]="modified" style="width: 301px; margin-top: 5px;"/></div><br>
        <p-footer>
          <hr>
            <button pButton type="button" (click)="updateUser()" label="Atualizar" style="float: right; margin-right: 15px; margin-bottom: 15px;"></button>
        </p-footer>
    </p-dialog>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Não" (click)="cd.reject()"></button>
        <button type="button" pButton icon="fa-check" label="Sim" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>